---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portfolio">
	<main>

		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-blue text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10">Hey, soy David <a 
					href="https://linkedin.com/in/david-hpf"
					class="flex justify-center items-center"
				><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-xl opacity-80">Ingeniero informático y desarrollador de software fullstack. Javascript, Python, Flutter, AWS</h2>

			<ul></ul>
		</section>

	</main>
</Layout>

