---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/icons/LinkedInIcon.astro';
---

<Layout title="Portfolio">
	<main>

		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img class="rounded-full w-16 h-16 mb-4" src="/images/David.jpg" alt="Logo for portfolio">
			<h1 class="text-blue text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, soy David <a 
					href="https://linkedin.com/in/david-hpf"
					class="flex justify-center items-center"
				><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-2xl opacity-80 text-wrap">Ingeniero informático y desarrollador de software fullstack. Javascript, Python, Flutter, AWS</h2>

			<ul>
				<a href="https://linkedin.com/in/david-hpf">
					<LinkedinIcon class="w-6 h-6" />
					LinkedIn
				</a>
			</ul>
		</section>

	</main>
</Layout>

