---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portfolio">
	<main>
		<h1 class="text-blue">Hey, soy David <Badge>Disponible para trabajar</Badge></h1>
		<h2>Ingeniero informático y desarrollador de software</h2>

	</main>
</Layout>

