---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Soporte",
    company: "PENTEX",
    description:
      "Soporte técnico de ofimática y equipos industriales. Digitalización de procesos y desarrollo de una aplicación web para la gestión de envíos.  HTML, CSS, JavaScript (React.js).",
  },
  {
    date: "Abril 2023",
    title: "Becario",
    company: "Inbiot",
    description:
      "Prácticas en empresa creando paneles de mando con Grafana para la visualización de datos sobre la calidad del aire. Los datos se obtienen de una API y el dashboard se despliega en un entorno cloud en AWS (EC2, S3).",
  },
]
---

<ol class="relative mt-0">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>